.section-2 {
  background: url("../../../../../assets/images/background/background-section.webp")
    no-repeat;
  background-size: cover;

  .row-nowrap {
    flex-flow: nowrap;
  }

  .ant-col {
    &__content {
      width: 500px;
      max-width: 100%;

      .txt-sshop {
        color: #068b68;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }

  .btn-register-section {
    margin-top: 0.5rem;
    top: 0px;

    &:active,
    &:hover {
      background: #feb700 !important;
      border-color: #feb700 !important;
    }
  }
}

@media (max-width: 1023px) {
  .section-2 {
    .ant-col {
      &__content {
        width: 100%;
      }
    }
  }
}
