.section-4 {
  background: url("../../../../../assets/images/background/background-section.webp")
    no-repeat;
  background-size: cover;

  .justify-content--right {
    display: flex;
    justify-content: right;
  }

  .ant-col {
    &__content {
      width: 520px;
      max-width: 100%;
      height: fit-content;
      background: #f4faff;
      box-shadow: -1px 0px 3px #ccc;
      padding: 20px 45px 0px 20px;

      &__title {
        display: flex;
        align-items: center;
      }

      .btn-register-section {
        margin-top: 0px;
        top: 20px;
        position: relative;

        &:active,
        &:hover {
          background: #feb700 !important;
          border-color: #feb700 !important;
        }
      }
    }

    img {
      margin-top: -4px;
      margin-left: -25px;
      height: 442px;
    }
  }
}

@media (max-width: 1023px) {
  .section-4 {
    .ant-col {
      &__content {
        width: 100%;
        padding: 0px;
        box-shadow: none;
        background: none;
      }

      img {
        margin: 0 auto;
        height: auto;
      }

      .btn-register-section {
        margin-top: 0.5rem;
        top: 0px;

        &:active,
        &:hover {
          background: #feb700 !important;
          border-color: #feb700 !important;
        }
      }
    }
  }
}
