.btn-register-section {
    display: block;
    margin: 0 auto;
    background: #FEB700;
    border-color: #FEB700;
    height: fit-content;
    border-radius: 8px;


    &:active, &:hover {
        background: #FEB700;
        border-color: #FEB700;
    }
}